<h2>Global Stats of Crypto Market: </h2>

<div class="flex-global">
    <p>Active Cryptocurrencies: {{globalStats2.data.active_cryptocurrencies}}</p>
    <p>Ongoing ICOs: {{globalStats2.data.ongoing_icos}}</p>
    <p>Markets: {{globalStats2.data.markets}}</p>
    <p>Upcoming ICOs: {{globalStats2.data.upcoming_icos}}</p>
    <p>Total Market Cap:  <span class='bold'>$ {{counter}}</span></p>

</div>