<h2>Home Page</h2>
<table>
    <thead>
        <tr class="margin-bottom">
            <td class="spacy"></td>
            <td class="spacy">Name</td>
            <td class="spacy">Symbol</td>
            <td class="spacy">Price</td>
            <td class="spacy">Market Cap</td>
            <td class="spacy">Price Change 24h</td>
            <td class="spacy">ATH</td>
        </tr>
    </thead>
    <tbody>
        {{#each coinsArray}}
        <tr class="margin-bottom">
            <td class="margin-right spacy"><img class="small" src='{{this.image}}'></td>
            <td class="spacy">{{this.name}}</td>
            <td class="spacy">{{this.symbol}}</td>
            <td class="spacy">$ {{this.current_price}}</td>
            <td class="spacy">$ {{this.market_cap}}</td>
            <td class="spacy">{{this.price_change_percentage_24h}} %</td>
            <td class="spacy">$ {{this.ath}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>